@import 'variables';
@import 'header';
@import 'filter';
@import 'rating';
@import 'gallery';
@import 'footer';
@import 'card';

* {
  box-sizing: border-box;
}

html {
  height: 100%;

  @media only screen and (max-width: $midBreakPoint) {
    font-size: 12px;
  }  

  @media only screen and (max-width: $smallBreakPoint) {
    font-size: 10px;
  } 

  @media only screen and (max-width: $extraSmallBreakPoint) {
    font-size: 8px;
  } 
}

body {
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;

  display: flex;
  flex-flow: column;

  background: #ebebeb;

  margin: 0 auto 20px;
  width: 90vw;
  min-width: 480px;
  max-width: 1600px;

  @media screen and (max-width: $midBreakPoint) {
    width: 100vw;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  height: 100%;
}

.main {
  display: flex;
  flex: 1;
}

.hidden {
  display: none;
}