body {
  padding: 0;
  margin: 0;
}

.items {
	position: relative;
	top: 10vh;
	width: 850px;
	padding-bottom: 50px;
	margin: 0 auto;
	overflow-x: hidden;
	text-align: center;
}

.items-wrapper {
  position: relative;
  top: 0;
  left: 5px;
  display: block;
  width: 5000px;
  text-align: left;
}

.controls-input {
  display: none;
}

.controls {
  position: fixed;
  top: 400px;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  height: 100px;
}

.controls-label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 50px 20px 0 ;
  position: relative;
  width: 8px;
  border-radius: 50%;
}

.controls-label:after {
  border: 2px solid black;
  content: "";
  display: block;
  height: 12px;
  left: -4px;
  position: relative;
  top: -4px;
  width: 12px;
  border-radius: 50%;
}
 
.items #page-1:checked ~ .controls label:nth-of-type(1),
.items #page-2:checked ~ .controls label:nth-of-type(2),
.items #page-3:checked ~ .controls label:nth-of-type(3) {
  background: black;
}

.items #page-1:checked ~ .items-wrapper {
  left: 0;
  transition: 0.5s;
}
.items #page-2:checked ~ .items-wrapper {
  left: -640px;
  transition: 0.5s;
}
.items #page-3:checked ~ .items-wrapper {
  left: -1280px;
  transition: 0.5s;
}

.item {
	width: 200px;
	margin: 0 5px 0;
	display: inline-block;
	vertical-align: top;
}

.item .picture img {
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.item .picture {
  position: relative;
  display: block;
  width: inherit;
  text-align: center;
  line-height: 300px;
  cursor: pointer;
}

.desc {
	display: none;
}

.desc article {
  margin: 5px;
  text-align: justify;
  font-size: 12px;
}

.item:hover {
  z-index: 5;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.item:hover .desc {
  display: inline-block;
}

.hidden {
	display: none;
}

.background
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: .3;
    background-color: #000;
    display: none;
}

.big-pic
{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20%;
    height: auto;
    max-width: 50%;
    max-height: 50%;
    display: none;
    z-index: 20;
    object-fit: contain;
}

.close-pic
{
    display: none;
    position: absolute;
    z-index: 20;
    top: 2px;
    right: 2px;
    width: 50px;
    height: 50px;
    background-image: url(close.png);
    background-size: 100%;
    cursor: pointer;
}

#item-1:checked ~ .background,
#item-2:checked ~ .background,
#item-3:checked ~ .background,
#item-4:checked ~ .background,
#item-5:checked ~ .background,
#item-6:checked ~ .background,
#item-7:checked ~ .background,
#item-8:checked ~ .background,
#item-1:checked ~ .close-pic,
#item-2:checked ~ .close-pic,
#item-3:checked ~ .close-pic,
#item-4:checked ~ .close-pic,
#item-5:checked ~ .close-pic,
#item-6:checked ~ .close-pic,
#item-7:checked ~ .close-pic,
#item-8:checked ~ .close-pic,
#item-1:checked ~ .big-pic-1,
#item-2:checked ~ .big-pic-2,
#item-3:checked ~ .big-pic-3,
#item-4:checked ~ .big-pic-4,
#item-5:checked ~ .big-pic-5,
#item-6:checked ~ .big-pic-6,
#item-7:checked ~ .big-pic-7,
#item-8:checked ~ .big-pic-8
{
   display: block;
}
