.article-wrapper {
  width: $cardWidth;
  min-width: $cardMinWidth;
  max-width: $cardMaxWidth;

  height: $cardHeight;
  min-height: $cardMinHeight;
  max-height: $cardMaxHeight;
  
  padding: 5px 10px;
    
  float: left;
  position: relative;

  &:hover {
    z-index: 1;
  }
}

.article {  
  background: #fff; 
  border-radius: 5px;

  display: inline-block;

  overflow: hidden;
  padding: 0 10px 10px;
  text-align: center;

  transition-property: height, width, transform, margin, box-shadow;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  // cubic-bezier(.32,-0.2,.86,1.6)
  transition-delay: .1s;

  &:hover {
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);

    .article__description {
      height: auto;
      opacity: 1;
      transform: translateX(0%); 
    }
  }

  &__img {
    width: 100%;
    height: $cardHeight;
    min-height: $cardMinHeight;
    max-height: $cardMaxHeight;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__description {
    height: 0;
    font-size: 0.8rem;
    margin: 0;
    opacity: 0;

    transform: translateX(-110%);
    transition: transform 0.3s ease-in 0.25s;

    text-align: left;
  }

  &__title {
    display: none;
  }
}