.slider {
  width: $sliderWidth;
  height: 90%;

  min-width: $sliderMinWidth;
  max-width: $sliderMaxWidth;
  margin: 0 auto;

  position: relative;
  overflow: hidden;

  text-align: center;

  &__long-container {
    width: $cardWidth * $cardAmount;
    min-width: $cardMinWidth * $cardAmount;
    max-width: $cardMaxWidth * $cardAmount;

    position: absolute;
    top: 0;
    left: 0;

    will-change: margin;
    transition: margin-left 0.7s ease-in-out;
  }

  &__toggle-label {
    width: 15px;
    height: 15px;
    display: inline-block;
    cursor: pointer;

    position: relative;
    // top: $cardHeight + 70px;
    top: 28vh;
    z-index: 1;

    &:after {
      box-sizing: border-box;

      content: '';
      display: block;
      width: 0;
      height: 0;

      margin: 50% 0 0 50%;
      transform: translate(-50%, -50%);

      border: 6px solid hsl(210, 100%, 50%);
      border-radius: 50%;

      transition-property: height, border;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
    }
  }

  &__toggler {
   position: relative;
  //  top: $cardHeight + 70px;
   top: $cardHeight + 2vw;

   display: none;

   &:checked {
      + label:after {
        width: 100%;
        height: 100%;
        border-width: 3px;
     }
   }

    &[value=slide1]:checked {
      ~ .slider__long-container {
        margin-left: 0;
      }
    }

    &[value=slide2]:checked {
      ~ .slider__long-container {
        // margin-left: $fullArticleWidth * -3;
        margin-left: -75%;
      }
    }

    &:last-of-type:checked {
      ~ .slider__long-container {
        // margin-left: $fullArticleWidth * -5;
        margin-left: -125%
      }
    }
  }
}
