$cardAmount: 9;

$cardWidth: 20vw;
$cardHeight: $cardWidth * 0.8;

$cardMinWidth: 140px;
$cardMinHeight: 70px;

$cardMaxWidth: 300px;
$cardMaxHeight: 150px;

$cardHoverHeight: 320px;
$cardHoverWidth: 340px;

$sliderWidth: $cardWidth * 4;
$sliderMinWidth: $cardMinWidth * 4;
$sliderMaxWidth: $cardMaxWidth * 4;

$sliderHeight: $cardHeight * 2;
