@import 'variables';
@import 'article';
@import 'slider';
@import 'overlay';
@import 'close-cross';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font:  16px "Segoe UI", Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
}