body
{
    margin: 0;
    padding: 0;
}

.section
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin: 30px 0px 0;
    text-align: justify;
    padding: 25px;
    width: 400px;
    box-sizing: border-box;
}

span>span
{
    font-weight: normal;
    color: gray;
    text-decoration: line-through;
}

input+label
{
    position: absolute !important;
    top: 20px;
}


#block:checked~.section
{
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0 0 250px;
    height: 400px;
    width: 1200px;
    text-align: justify;
    display: inline-block;
}
#block:checked~section>div{
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: -280px;
    left: 400px;
    line-height: 2em;
    text-align: justify;
    width: 330px;
}
#block:checked~section>section{
    white-space: normal;
    position: relative;
    top: -420px;
    left: 800px;
    line-height: 1em;
    text-align: justify;
    width: 330px;
}


a{
    font-size: 30px;
}

.color:hover>div>div>a{color: red}
.opacity:hover>img{opacity: 0.7}
div>div
{
    opacity: 1 !important;
    height: 32px;
    width: 330px;
    text-overflow: ellipsis;
    overflow: hidden;
}

div>a:hover
{
    color: red;
}

div>span
{
    font-weight: bold;
    color: brown;
    font-size: 25px;
}


div p:nth-of-type(1)
{
    color: gray;
    text-decoration: underline;
    font-size: 12px;
}
section>section
{
    white-space: normal;
    width: 330px;
}
section section p:nth-of-type(1)
{
    font-weight: bold;
}
section section p:nth-of-type(3)
{
    white-space: normal;
    font-size: 20px;
}

dl
{
    margin: 0 -40px;
}

li>a
{
    font-size: 20px;
}

/* start check box*/

.checkbox {
    position: absolute;
    top: 20px;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}
.checkbox + label {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
}
.checkbox + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    transition: .2s;
}
.checkbox + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: .2s;
}
.checkbox:checked + label:before {
    background: #9FD468;
}
.checkbox:checked + label:after {
    left: 26px;
}
.checkbox:focus + label:before {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
}
/* end check box*/

/* Stars start*/


dl.star-rating ol {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100px;
    height: 20px;
    position: relative;
    background: url(static/stars.png);
}
dl.star-rating li {
    float: left;
    margin: 0;
    padding: 0;
}
dl.star-rating li a {
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    position: absolute;
    text-decoration: none;
    z-index: 10;
}
dl.star-rating li a:hover {
    background: url(static/stars.png) left center;
    left: 0;
    z-index: 2;
}
dl.star-rating a.star1 {
    left: 0;
}
dl.star-rating a.star1:hover {
    width: 20px;
}
dl.star-rating a.star2 {
    left: 20px;
}
dl.star-rating a.star2:hover {
    width: 40px;
}
dl.star-rating a.star3 {
    left: 40px;
}
dl.star-rating a.star3:hover {
    width: 60px;
}
dl.star-rating a.star4 {
    left: 60px;
}
dl.star-rating a.star4:hover {
    width: 80px;
}
dl.star-rating a.star5 {
    left: 80px;
}
dl.star-rating a.star5:hover {
    width: 100px;
}
dl.star-rating li.current {
    background: url(static/stars.png) left bottom;
    height: 20px;
    z-index: 1;
}
dl.star-rating ol>li a:hover {
    text-indent: 110px;
}

/* Star end*/
