.header {
  position: relative;
  height: 551px;
  grid-template-rows: repeat(3, 1fr);
  // background-image: url('./../img/header_bg.png');
  // background-repeat: no-repeat;
  // background-size: cover;

  &__logo {
    grid-column: 6 / 8;
    margin: -2px 0 0 -1px;
  }

  &__bg-img {
    position: absolute;
    top: 39px;
    right: -27px;
  }

  &__title {
    grid-row: 3 / 4;
    grid-column: 2 / 12;
    font-size: 44px / $generalFontSize * 1rem;
    line-height: 48px / $generalFontSize * 1rem;
    font-weight: normal;
    text-align: center;
    z-index: 1;
    margin: 3px 0 0 0;

    span {
      padding-right: 4px;
      position: relative;
      right: 9px;
      bottom: 8px;
    }
  }
}
