.story {
  padding-top: 80px;
  padding-bottom: 50px;
  grid-template-rows: 352px 800px 800px 933px 193px;

  &__bg {
    grid-row: 2 / 4;
    grid-column: 1 / 13;
    margin-left: -40px;
  }

  &__text {
    text-align: center;

    &--one {
      padding-top: 82px;
      grid-row: 2 / 3;
      grid-column: 2 / 6;
      position: relative;
      right: 10px;

      p {
        margin: 0 0 27px;
      }
    }

    &--two {
      padding-top: 85px;
      grid-row: 3 / 4;
      grid-column: 8 / 12;

      p {
        margin: 0 0 27px;
      }
    }

    &--three {
      padding-top: 80px;
      grid-row: 4 / 5;
      grid-column: 2 / 6;
      position: relative;
      right: 16px;

      p {
        margin: 0 0 27px;
      }
    }
  }
}

.person {
  text-align: center;

  &--one {
    grid-column: 3 / 5;
  }

  &--two {
    grid-column: 6 / 8;
  }

  &--three {
    grid-column: 9 / 11;
  }

  &__img {
    display: block;
    width: 138px;
    height: 139px;
    background-image: url('./../img/persons.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0;
    cursor: pointer;

    &--one {
      background-position-x: 0;
    }

    &--two {
      background-position-x: -140px;
    }

    &--three {
      background-position-x: -280px;
    }

    &::before {
      content: '';
      display: block;
      height: 100%;
      border: 3px solid #fff;
      border-radius: 50%;
      box-sizing: border-box;
      opacity: 0;
      will-change: transform, opacity;
      transition: opacity 0.15s ease-out, transform 0.3s ease;

      animation-duration: 5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }

    &:hover::before {
      opacity: 1;
      transform: scale(1.12);
      animation-play-state: paused;
    }
  }

  &__name {
    font-size: 1rem;
    line-height: 22px / 16px * 1rem;
    margin: 0.7rem 0 1.6rem;
  }

  &__description {
    width: 217%;

    line-height: 24px / 16px * 1rem;
    will-change: opacity, transform;
    transform: translateX(-25%) scale(0);
    transform-origin: center;
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.09, 0.53, 0.07, 1.37);
  }
}

input#person {
  &One:checked ~ .content .person--one {
    .person__img {
      &::before {
        animation-name: borderBeat;
      }
    }

    .person__description {
      transform: translateX(-25%) scale(1);
      opacity: 1;
    }
  }

  &Two:checked ~ .content .person--two {
    .person__img::before {
      animation-name: borderBeat;
    }
    .person__description {
      transform: translateX(-25%) scale(1);
      opacity: 1;
    }
  }

  &Three:checked ~ .content .person--three {
    .person__img::before {
      animation-name: borderBeat;
    }
    .person__description {
      transform: translateX(-25%) scale(1);
      opacity: 1;
    }
  }
}

@keyframes borderBeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.14);
    opacity: 1;
  }
  38% {
    transform: scale(1.1);
    opacity: 1;
  }
  66% {
    transform: scale(1.16);
    opacity: 1;
  }
  95% {
    transform: scale(1.12);
    opacity: 0.9;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
