
body{
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 14px/18px;
    padding: 50px;

}
h1{
	margin: 50px 0 20px 0;
	font-size: 4em;
	font-weight: 100;


}

blockquote{
	font-style: italic;
	font-size: 14px/18px;
	margin: 0 20px 0 0;
}
blockquote::before{
	margin:0 0 0 -1ex;
	content: "«"; "»"
}
blockquote::after{
	content: "»";
}

#main, body{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	box-sizing: border-box;
	padding: 15px;
}

		#slider{
			white-space: nowrap;
			position: relative;
			text-align: center;
			height: 300px;
			margin: auto;
			width: 80%;
		}


		#slider > input{
		    transform: translate(0, 280px);
		    cursor: pointer;
		}


		article{
			margin: 0;
			padding: 15px;
			box-sizing: border-box;
			/*width: 230px;*/
			width: 100%;
			height: 230px;
			display: inline-block;
			font-size: .8em;
			position: relative;
			vertical-align: middle;
			white-space: normal;
			transition: opacity .3s ease-out;
		}

		#items label{
			width: 25%;
			position: relative;
			box-sizing: border-box;
			display: inline-block;
			transition: transform .5s;
		}

		#items input{
			display: none;
		}

		figure{
			position: absolute;
			vertical-align: top;
			margin: 0;
			padding: 0;
			left: 50%;
			top: 50%;
		    transform: translate(-50%, -50%) scale(1.8);
			box-sizing: border-box;
		}

		figure img{
			width: auto;
			height: auto;
			max-height: 120px;
			max-width: 100%;
		}
		

		.author{			
			font-weight: 700;			
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			opacity: .8;
		}

		figcaption h2{
			background-color: #eee;
			font-weight: 200;
			margin: -3px 0 15px;
			padding: 3px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			box-sizing: border-box;
		}

		figcaption{
			display: none;
			margin: 0;
			padding: 0;
			text-align: left;
		}

		label:hover{
			z-index: 5;
		}

		article:hover figure{	
			position: inherit;					
			left: 0;
			top: 0;	
			transform: none;
			border: 1px solid #777;
			margin: -15px;
			padding: 15px;
			width: 330px;
			background-color: #fff;
			box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.75);
		}

		article:hover figure img{
			width: auto;
			height: auto;
			max-height: 300px;
			max-width: 300px;
			
		}

		article:hover figcaption{
			display: block;
		}

/* preview */
#items label > div{
	display: none;
}
#items input:checked + label > div{
	display: block;
	cursor: pointer !important;
	color: #fff;
	font-size: 4em;
	font-weight: 100;
	position: absolute;
	top: 0;
	right: 15px;
	width: 100%;
	text-align: right;
	opacity: .9;
}

#items input:checked + label{
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	left: 0;
	top: 0;	
	transform: none !important;
	width: 100%;
	height: 100%;
	z-index: 6;
}

#items input:checked + label article,
#items input:checked + label article figure,
#items input:checked + label article:hover figure{
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
}

#items input:checked + label article figure figcaption,
#items input:checked + label article:hover figure figcaption{
	display: none;
}
#items input:checked + label article figure img,
#items input:checked + label article:hover figure img,
#items input:checked + label article figure:hover img{ 
	transform: none;
	max-width: 100%;
    max-height: 100%;
}
#items input:checked + label article figure,
#items input:checked + label article:hover figure{	
	display: block;
	position: absolute;	
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
	width: auto;
	height: auto;
	max-width: 100%;
    max-height: 100%;
}
		
		/* slider */
		#slider > input:nth-of-type(1):checked ~ #items label{
			transform: translateX(0);
		}
		#slider > input:nth-of-type(2):checked ~ #items label{
			transform: translateX(-300%);
		}
		#slider > input:nth-of-type(3):checked ~ #items label{
			transform: translateX(-600%);
		}
		#slider > input:nth-of-type(4):checked ~ #items  label{
			transform: translateX(-900%);
		}

		#slider > input:nth-of-type(2):checked ~ #items article,
		#slider > input:nth-of-type(3):checked ~ #items article,
		#slider > input:nth-of-type(4):checked ~ #items article{
			opacity: 0;
			z-index: 0;
		}
		#slider > input:nth-of-type(2):checked ~ #items label:nth-of-type(3)~ label article,
		#slider > input:nth-of-type(3):checked ~ #items label:nth-of-type(6)~ label article,
		#slider > input:nth-of-type(4):checked ~ #items label:nth-of-type(9)~ label article{
			opacity: 1;
		}
		#slider > input:nth-of-type(1):checked ~ #items label:nth-of-type(4)~ label article,
		#slider > input:nth-of-type(2):checked ~ #items label:nth-of-type(7)~ label article,
		#slider > input:nth-of-type(3):checked ~ #items label:nth-of-type(10)~ label article,
		#slider > input:nth-of-type(4):checked ~ #items label:nth-of-type(13)~ label article{
			opacity: 0;		
			z-index: 0;
		}


		#slider label:nth-of-type(3n+1){
			transition-timing-function: cubic-bezier(.25, .1, .25, 1);
		}
		#slider label:nth-of-type(3n+2){
			transition-timing-function: cubic-bezier(.32, .05, .28, 1);
		}		
		#slider label:nth-of-type(3n){
			transition-timing-function: cubic-bezier(.38, 0, .32, 1);
		}/**/

