body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: #434344;

  background-color: #cfd0cf;
}
.page__game {
  margin: 0 auto;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  /* width: 95%; */
  min-width: 315px;
  box-sizing: border-box;
}
.page__title {
  font-size: 42px;
  line-height: 47px;
  text-align: center;
}
.game__title {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
  padding: 0 15px;
}
.game__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 645px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.game__card {
  margin: 0;
  margin: 0 12.5px 25px 12.5px;
}
.card {
  position: relative;
  flex-shrink: 0;
  display: block;
  width: 130px;
  height: 130px;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 75px;
  perspective: 600px;
}
.card__back {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  box-sizing: border-box;

  background-color: #ffffff;
  border-radius: 9px;
  border: 5px solid #ffffff;
        
  transform: rotateY(180deg);
  transition: 1s;
  backface-visibility: hidden;

  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.card__front {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  box-sizing: border-box;

  background-image: linear-gradient(45deg, #22ab93, #19668d);
  border-radius: 9px;
  border: 5px solid #ffffff;

        
  transition: 1s;
  backface-visibility: hidden;

  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.card__back--flipped {
  transform: rotate(360deg);
}
.card__front--flipped {
  transform: rotateY(180deg);
}
