.slider {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;

  position: relative;
  overflow: hidden;
  // height: 40%;
  height: 450px;

  border: 1px solid;

  &__slide {
    width: 75%;
    // height: 100%;

    position: absolute;
    top: 0;
    // left: 0;

    // transform: translateX(-100%);
    // left: -75%;
    margin-left: -75%;

    will-change: margin;
    // transition: transform 0.7s ease-out;
    // transition: left 0.7s ease-in-out;
    transition: margin-left 0.7s ease-in-out;

    text-align: center;

    // &:last-child {
    //   width: 100%;
    // }
  }

  &__toggler {
   position: relative;
   top: 85%;
  //  z-index: 1;

    &:checked {
      + .slider__slide {
        // transform: translateX(0);
        // left: 0%;
        margin-left: 0;

        // z-index: 2;
       

        + input + .slider__slide {
          // transform: translateX(100%);
          // left: 75%;
          margin-left: 75%;

          + input + .slider__slide {
            // transform: translateX(200%);
            // left: 150%;
            margin-left: 150%;
          }
        }
      }
    }
  }
}
