$articleHorizontalMargin: 1%;
$articleWidth: (100% / 3) - $articleHorizontalMargin * 2;

$articleHeight: 250px;

$articleMinWidth: 280px;
$articleMinHeight: 200px;


$articleHoverHeight: 400px;
$articleHoverWidth: 340px;
