.switch-view:checked + label:before {
	content: 'Показать в виде плитки';
}

.switch-view + label:before {
    content: 'Показать списком';
    display: block;
}


.switch-view:checked ~ .card {
    position: relative;
    display: inline-block;
    width: 75%;
    padding: 50px;
    margin: auto;

}

/* .switch-view:checked ~ .card .card-name, .card-category, .card-level, .card-cost, .card-text {
    display: inline-block;
    width: 50%;
} */
.switch-view:checked ~ .card  .card-category{
    width: 40%;
    display: block;
    float: center;
}
.switch-view:checked ~ .card .card-level {
    width: 40%;
    display: block;
    float: center;
    
    
}
.switch-view:checked ~ .card .card-cost{
    width: 40%;
    display: block;
    float: center;    
    
}
.switch-view:checked ~ .card .card-text {
    width: 30%;
    margin: 0 0 auto auto;
    display: block; 
    float: right;
    position: absolute;
    right: 0;
    top: 80px;
}

.switch-view:checked ~ .card .card-name {
    width: 40%;
    display: block;
    float: center;
    margin: 10px 0 auto;
}

.switch-view:checked ~ .card img{
    width: 25%;
    float: left;
    margin-right: 40px;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.card {
    display: inline-block;
    width: 390px;
    padding: 30px;
}


.card:hover .card-image {
    opacity: 0.7;
}

.card:hover a {
     color: red;
}

a {
    color: darkblue;
}

.card-image {
    width: 100%;
}

.card-name {
    font-size: 1.8em;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-cost {
    font-size: 1.8em;
    color: firebrick;
    padding: 4px 0;
}
.card-category {
    text-decoration: underline;
}

.checked {
    color: orange;
}

.card-level {
    padding: 4px 0;
}

.card-level {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.card-level > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.card-level>span:hover:before,
.card-level>span:hover~span:before {
    content: "\2605";
    position: absolute;
}

.card-level>span:active:before,
.card-level>span:active~span:before {
    content: "\2605";
    position: absolute;
}
