body {
  height: 1000px;
}

.cookie-permission {
  box-sizing: border-box;
  border: 1px solid green;
  padding: 10px 10px 20px;
  width: 150px;
  
  position: fixed;
  top: 25px;
  right: 25px;

  &__btn {
    background: #0a0;
    border: none;
    color: #fff;

    position: absolute;
    right: -5px;
    bottom: -5px;
  }
}