

.window {
    width: 94vw;
    height: 80vh;
    position: absolute;
    margin: 1vh 3vw;
    left: 50vw;
    min-height: 300px;
    transform: translateX(-50vw);
    overflow-x: hidden;
    overflow-y: hidden;
}

input {
    position: relative;
    cursor: pointer;
    top: 90vh;
    left: 46vw;
    z-index: 3; 
}

.gallery {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 999cm; 
    box-sizing: inherit;
    min-height: 300px;
    top: 0; left: 0; right:0; bottom: 0;
}
 
.gallery .item {
    position: relative; 
    display: inline-block;

    top: 1vh;
    left: 0vw;
    width: 23vw; 
    /* height: 70vh; */
    margin-bottom: 0vh;
    vertical-align: top;
}

.gallery .item div {
    position: relative;
    z-index: 1; 
    width: 18vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-width: 1vw;
    border-style: solid;
    border-color: white;
    padding: 1vw;
    min-height: 300px;
}
 
 .gallery .item div img {
    width: 100%;
    z-index: 2; 
    position: relative;
    display: block;
}

article{
    font: 1.8vw Arial; 
    display: none;
    overflow: auto; 
}
 
.gallery .item:hover div {
    display: block;
    background: white; 
    border-width: 1vw;
    box-shadow: 0 0 0.5vw 0.5vh rgba(0, 0, 0, 0.2); 
    z-index: 4; 
}

.gallery .item:hover div article {
    display: block;
    min-height: 50px;
    white-space: normal;
    z-index: 4; 
    overflow: auto; 
    max-height: 40vh; 
}

#show-page-1:checked ~ .window .gallery { left: 1vw;       transition-duration: 1s; }
#show-page-2:checked ~ .window .gallery { left: -69.5vw;  transition-duration: 1s; }
#show-page-3:checked ~ .window .gallery { left: -139vw; transition-duration: 1s; }
#show-page-4:checked ~ .window .gallery { left: -209vw; transition-duration: 1s; }

/* Стили модального окна
------------------------------------------------------------------*/
/* слой затемнения */
.dm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

/* активируем модальное окно */
.dm-overlay:target {
    display: inline-block;
}

/* блочная таблица */
.dm-table {
    display: table;
    width: 100%;
    height: 100%;
}

/* ячейка блочной таблицы */
.dm-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 10px;
}

/* модальный блок */
.dm-modal {
    display: inline-block;
    text-align: center;
}

/* изображения в модальном окне */
.dm-modal img {
    max-height: 80vh;
    max-width: 80vw;
    position: fixed;
    overflow: auto;
    margin: auto;
    top:0;
    left:0; 
    bottom:0;
    right:0;
}

/* кнопка закрытия */
.close {
    z-index: 9999;
    float: right;
    width: 30px;
    height: 30px;
    color: #cfd8dc;
    text-align: center;
    text-decoration: none;
    line-height: 26px;
    cursor: pointer;
}

.close:after {
    display: block;
    content: 'X';
    font: 20px Arial; 
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}

/* кнопка закрытия при наведении */
.close:hover:after {
    border-color: #fff;
    color: #fff;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

