@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans"), url("./../fonts/opensans-regular.woff2"), url("./../fonts/opensans-regular.woff"), url("./../fonts/opensans-regular.ttf"), url("./../fonts/opensans-regular.eot"); }
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: local("OpenSans"), url("./../fonts/opensans-bold.woff2"), url("./../fonts/opensans-bold.woff"), url("./../fonts/opensans-bold.ttf"), url("./../fonts/opensans-bold.eot"); }
.rating {
  width: 90px;
  height: 18px;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px; }
  .rating:hover label.rating__label {
    background: none; }
  .rating input {
    cursor: pointer;
    height: 100%;
    float: right;
    margin: 0 0 0 -9px;
    position: relative;
    opacity: 0;
    width: 9px;
    z-index: 1; }
    .rating input:checked ~ label {
      background-image: linear-gradient(to bottom, #fad407, #fbce09, #fcc90c, #fdc30f, #fdbe13); }
    .rating input:hover ~ label.rating__label {
      background-image: linear-gradient(to bottom, #fad407, #fbce09, #fcc90c, #fdc30f, #fdbe13); }
  .rating label {
    float: right;
    height: 100%;
    width: 9px;
    z-index: -1; }
  .rating__stars-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .rating__star {
    float: left;
    width: 20%;
    height: 18px;
    background: url("./../img/empty-star.png") center/cover no-repeat; }

@-moz-document url-prefix() {
  .rating {
    width: 140px;
    height: 28px;
    -webkit-transform: scale(0.65);
    -ms-transform: scale(0.65);
    transform: scale(0.65);
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0; }
    .rating input {
      margin: 0 0 0 -14px;
      width: 14px; }
    .rating label {
      width: 14px; }
    .rating__star {
      width: 28px;
      height: 100%; } }
input[name="viewToggler"] {
  display: none; }
  input[name="viewToggler"]:checked + label {
    font-weight: bold; }
  input[name="viewToggler"]:not(:checked) + label {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5); }
    input[name="viewToggler"]:not(:checked) + label:hover {
      color: rgba(0, 0, 0, 0.8); }

.label-toggler {
  margin: 0 20px 0 0;
  transition: color .2s ease-in-out; }

#listToggler:checked ~ .article {
  height: auto;
  min-height: 140px;
  width: 99%;
  box-sizing: border-box;
  margin: 0 5px 15px; }
  #listToggler:checked ~ .article .article__image-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 24%;
    min-width: 200px;
    box-sizing: border-box; }
  #listToggler:checked ~ .article .article__image {
    bottom: -5px; }
  #listToggler:checked ~ .article .article__header {
    display: inline-block;
    vertical-align: top;
    width: 44%;
    min-width: 200px;
    box-sizing: border-box; }
  #listToggler:checked ~ .article .article__description {
    display: inline-block;
    vertical-align: top;
    width: 29%;
    min-width: 350px;
    box-sizing: border-box; }

html {
  font: normal 16px 'OpenSans', sans-serif; }

figure, h1, h2 {
  margin: 0; }

a:hover {
  color: #f00; }

label,
input {
  float: left;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.clearfix {
  clear: both; }

.main {
  margin: 0 auto;
  width: 87%;
  min-width: 384px;
  text-align: left;
  overflow: auto; }

section {
  overflow: auto; }

.article {
  width: 344px;
  height: 840px;
  display: inline-block;
  margin: 5px;
  box-shadow: 0px 8px 10px -2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 15px 0; }
  .article:hover .article__image-wrapper {
    opacity: 0.7;
    box-shadow: 0px 8px 10px -8px rgba(0, 0, 0, 0.3);
    transform: perspective(500px) translate3d(0px, -5px, 5px); }
  .article__image-wrapper {
    height: 320px;
    overflow: hidden;
    text-align: center;
    position: relative;
    transform: perspective(0px) translate3d(0px, 0px, 0px);
    transition-property: opacity, transform, box-shadow;
    transition-duration: .1s;
    transition-timing-function: ease-out; }
  .article__image {
    width: 125%;
    position: absolute;
    bottom: -70px;
    left: 50%;
    margin-left: -62.5%; }
  .article__header {
    overflow: hidden;
    padding: 0 15px; }
  .article__title {
    font-size: 1.5rem;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .article__category {
    font-size: 0.8rem;
    color: #666666;
    display: inline-block;
    margin: 0 0 10px; }
  .article__prices {
    margin: 0 0 10px; }

.price {
  font-size: 1.4rem; }
  .price__current {
    font-weight: bold;
    color: #97070a; }
  .price__old {
    font-size: .7em;
    text-decoration: line-through; }

.description {
  font-size: .95rem;
  padding: 0 15px; }
  .description__title {
    font-size: 1em; }
  .description__content {
    font-size: 1em; }
  .description p {
    margin: 5px 0; }
