.rating {
  width: 5 * 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;

  &:hover {
    label.rating__label {
      background: none;
    }
  }

  input {
    cursor: pointer;
    height: 100%;
    float: right;
    margin: 0 0 0 -9px;
    position: relative;
    opacity: 0;
    width: 9px;
    z-index: 1;

    &:checked {
      ~ label {
        background-image: linear-gradient(to bottom, #fad407, #fbce09, #fcc90c, #fdc30f, #fdbe13);
      }
    } 

    &:hover {
      ~ label.rating__label {
        background-image: linear-gradient(to bottom, #fad407, #fbce09, #fcc90c, #fdc30f, #fdbe13);
      }
    } 
  }

  label {
    float: right;
    height: 100%;
    width: 9px;
    z-index: -1;
  }

  &__stars-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &__star {
    float: left;
    width: 20%;
    height: 18px;
    background: url('./../img/empty-star.png') center / cover no-repeat;
  }
}

@-moz-document url-prefix() {
  $radioWidth: 14px;
  $starWidth: $radioWidth*2;
  $statHeight: $radioWidth*2;

  .rating {
    width: 5 * $starWidth; 
    height: $statHeight;

    -webkit-transform: scale(.65); 
    -ms-transform: scale(.65);
    transform: scale(.65);

    -webkit-transform-origin:0; 
    -ms-transform-origin: 0; 
    transform-origin: 0;
  
    input {
      margin: 0 0 0 -1 * $starWidth/2;
      width: $starWidth/2;
    }
  
    label {
      width: $starWidth/2;
    }
  
    &__star {
      width: $starWidth;
      height: 100%;
    }
  }
}