.rating {
  width: 5 * 18px;
  height: 18px;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;

  &:hover {
    .rating__default {
      display: none;
    }
  }

  &__default {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #fad407, #fbce09, #fcc90c, #fdc30f, #fdbe13);
  }

  &__checkbox {
    height: 100%;
    float: right;
    margin: 0 0 0 -9px;
    position: relative;
    opacity: 0;
    width: 9px;
    z-index: 1;

    &:hover {
      ~ label {
        background-image: linear-gradient(to bottom, #fad407, #fbce09, #fcc90c, #fdc30f, #fdbe13);
      }
    }

    &:checked {
      ~ label {
        background-image: linear-gradient(to bottom, #fad407, #fbce09, #fcc90c, #fdc30f, #fdbe13);
      }

      ~ input {
        pointer-events: none;
      }

      ~ .rating__default {
        display: none;
      }
    } 
  }

  &__label {
    float: right;
    height: 100%;
    width: 9px;
    z-index: -1;
  }

  &__star {
    position: relative;
    top: -100%;
    float: left;
    width: 20%;
    height: 18px;
    background: url('./../img/empty-star.png') center / cover   no-repeat;
  }
}

@-moz-document url-prefix() {
  $starWidth: 26px;
  $statHeight: 26px;

  .rating {
    width: 5 * $starWidth;
    height: $statHeight;

    -webkit-transform: scale(.7); 
    -ms-transform: scale(.7);
    transform: scale(.7);

    -webkit-transform-origin:0; 
    -ms-transform-origin: 0; 
    transform-origin: 0;
  
    &__checkbox {
      margin: 0 0 0 -1 * $starWidth/2;
      width: $starWidth/2;
    }
  
    &__label {
      width: $starWidth/2;
    }
  
    &__star {
      width: $starWidth;
      height: 100%;
    }
  }

}