@import 'fonts';
@import 'variables';
@import 'rating';
@import 'list';

html {
  font: normal 16px 'OpenSans', sans-serif;
}

figure, h1, h2 {
  margin: 0;
}

a {
  &:hover {
    color: #f00;
  }
}

label,
input {
  float: left;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clearfix {
    clear: both;
}

.main {
  margin: 0 auto;
  width: 87%;
  min-width: $articleWidth + 40px;
  text-align: left;
  overflow: auto;
}

section {
  overflow: auto;
}

.article {
  width: $articleWidth;
  height: $articleHeight;
  display: inline-block;
  margin: 5px;
  box-shadow:0px 8px 10px -2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 15px 0;

  &__image-wrapper {
    height: $imageWrapperHeight;
    overflow: hidden;
    text-align: center;
    position: relative;
    opacity: 1;

    transform: perspective(0px) translate3d(0px, 0px, 0px);
    transition-property: opacity, transform, box-shadow;
    transition-duration: .1s;
    transition-timing-function: ease-out;

    &:hover { 
      opacity: 0.7;                
      box-shadow:0px 8px 10px -8px rgba(0, 0, 0, 0.3);
      transform: perspective(500px) translate3d(0px, -5px, 5px);   
    }
  }

  &__image {
    width: $imageWidth;
    position: absolute;
    bottom: -70px;
    left: 50%;
    margin-left: -$imageWidth/2;
  }

  &__header {
    overflow: hidden;
    padding: 0 15px;
  }

  &__title {
    font-size: 1.5rem;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__category {
    font-size: 0.8rem;
    color:hsla(0, 0%, 40%, 1);
    display: inline-block;
    margin: 0 0 10px;
  }

  &__prices {
    margin: 0 0 10px;
  }
}

.price {
  font-size: 1.4rem;

  &__current {
    font-weight: bold;
    color: hsl(359, 91%, 31%);
  }

  &__old {
    font-size: .7em;
    text-decoration: line-through;
  }
}

.description {
  font-size: .95rem;
  padding: 0 15px;

  &__title {
    font-size: 1em;
  }

  &__content {
    font-size: 1em;
  }

  p {
    margin: 5px 0;
  }
}