/*Ссылка на шрифты кроме основного 'https://fonts.googleapis.com/css?family=Farsan|Hind+Siliguri|Racing+Sans+One|Six+Caps|Space+Mono:700'*/
@font-face {
    font-family: 'UnifrakturMaguntia';
    font-style: normal;
    font-weight: 400;
    src: local('UnifrakturMaguntia'),
         url('../fonts/unifraktur-maguntia/UnifrakturMaguntia-Book.woff2') format('woff2'), 
         url('../fonts/unifraktur-maguntia/UnifrakturMaguntia-Book.woff') format('woff'),
         url('../fonts/unifraktur-maguntia/UnifrakturMaguntia-Book.ttf') format('ttf'),
         url('../fonts/unifraktur-maguntia/UnifrakturMaguntia-Book.eot') format('eot');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body
{
    width: 1200px;
    margin: 0 auto;
}

p {
    margin: 0; 
}

.clear-fix:after
{
    display: block;
    clear: both;

    content: '';
}

/*––––––––––––––––––Шапка газеты––––––––––––––––––––*/
.header
{
    margin: 35px 0 25px;
}

.header__info
{
    float: left;
    box-sizing: border-box;
    width: 200px;
    padding: 25px 10px;
    border: 1px solid;
    
    text-align: center;
}

.header__weather
{
    float: right;

    width: 200px;
}

.header__weather-title
{
    margin: 0;
    font: bold 1.17em 'Space Mono', monospace;
    text-align: center;
}

.header__weather-text
{
    margin: 0;
    font-size: .8em;
    line-height: 1.1;
    text-align: justify;
}

.header__title
{
    overflow: visible;
    margin: 0;

    font: 5.2rem 'UnifrakturMaguntia', cursive;
    text-align: center;
}


/*––––––––––––––––––Подшапка газеты–––––––––––––––––*/
.sub-header
{
    padding: 5px 0;

    border-top: 1px solid;
    border-bottom: 2px solid;
}

.sub-header__copyright
{
    display: inline-block;
    margin: 0 30px;
    font-size: .6em;
}

.sub-header__price
{
    float: right;
}


/*––––––––––––––––––Основной контент––––––––––––––––*/
.content
{
    display: flex;
}

/*––––––––––––––––––Блок статьи–––––––––––––––––––––*/
.article__title
{
    margin-top: 0;
    margin-bottom: 10px;
    font: bold 3.2em 'Six Caps', sans-serif;
}

.article__title_font_racing {
    font: italic 2em 'Racing Sans One', cursive;
}

.article__title_font_farsan {
    font: bold 2.3em 'Farsan', cursive;
}

.article__help
{
    margin-top: 10px !important;
    margin-bottom: 4px !important;
}


.article__add-text
{
    margin-top: 10px;
    margin-bottom: 4px;
    text-align: justify;
    font-size: .8rem;   
    font-style: oblique;
}

.article__author
{
    display: block;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: .8em;
}

.article__continue
{
    display: block;
    font-size: .8em;
    font-style: oblique;
    text-align: center;
}

.article__image
{
    margin: 0;
    text-indent: 0;
    text-decoration: underline;
    font-size: .8rem;
}

.article__image.article__image_align_right
{
    float: right;

    margin: 10px 0 5px 10px;
}

.article__subtitle
{
    margin: 10px 0;
    font: bold 1.17em 'Times New Roman', serif;
    text-align: center;
}

.right-column .article__subtitle {
    font-size: 1em;
}

.article__content {
    text-align: justify;
    font-size: .8em;
    text-indent: 2ch;
}

.article__content p::first-line {
    color: #f00;
}

/*––––––––––––––––––Блок главной фотографии–––––––––*/
.main-photo__wrapper
{
    margin: 0;
    font-size: .7rem;
    text-transform: uppercase;
    text-align: right;
}

.main-photo__img
{
    width: 100%;
}

.main-photo__title
{
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
}

.main-photo__desc
{
    margin-bottom: 20px;
    font-size: .8em;
}

/*––––––––––––––––––Линия разделения––––––––––––––––*/
.line
{
    border-top: 1px solid #000;
}

.line.line_type_bold
{
    margin-bottom: 3px;

    border-width: 2px;
}

.line.line_type_short
{
    width: 70px;
    margin: 0 auto;
}

/*––––––––––––––––––Центральные колонки газеты––––––––––––––––––*/
.article_columns_two .article__content {
    columns: 2;
    column-gap: 15px;
}

.article_columns_two .article__author,
.article_columns_two .article__continue {
    column-span: all;
}

.multicolumn
{
    margin-top: 10px;
}

.multicolumn__right,
.multicolumn__left
{
    display: inline-block;

    box-sizing: border-box;
    width: 49%;

    vertical-align: top;

}

.multicolumn__right
{
    padding-left: 10px;
}

.multicolumn__left
{
    padding-right: 10px;

    border-right: 1px solid #000;
}

.multicolumn .line_type_short
{
    width: 50%;
    margin: 10px auto;
}

.multicolumn .article__title
{
    margin: 10px 0 0 0;
}

.center-column
{
    margin-top: 20px;
    padding: 0 10px;

    flex-grow: 2;
}

/*––––––––––––––––––Второстепенные колонки газеты––––––––––––––––––*/
.left-column
{
    border-right: 1px solid #000;
}

.right-column
{
    border-left: 1px solid #000;
}

.right-column,
.left-column
{
    box-sizing: border-box;
    width: 200px;
    margin-top: 20px;
    padding: 0 10px;

    flex-shrink: 0;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––*/
