.header__title {
  font-size: 2.5rem;
  text-align: center;
  margin: 0; }

.filter {
  background: #d9d9d9; }
  .filter__li {
    padding-bottom: 1px;
    background-size: 300% 1px;
    background-image: linear-gradient(to right, #737373, #737373 34%, #fff 50%, #8c8c8c 67%, #8c8c8c);
    background-position: right bottom;
    background-repeat: no-repeat;
    transition: background .4s ease-in-out; }
    .filter__li:hover {
      background-position: left bottom; }
  .filter__breed-label {
    font-size: 1rem;
    white-space: nowrap;
    padding: 2.8ex;
    display: block;
    cursor: pointer;
    user-select: none;
    transition-property: color, background;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.35, 0.76, 0.3, 0.99);
    background: #5a5a5a;
    background: linear-gradient(90deg, #404040 0%, #404040 16%, #b3b3b3 21%, #5e5e5e 26%, #5e5e5e 45%, #e0e0e0 50%, #8c8c8c 55%, #8c8c8c 74%, #fcfcfc 79%, #d9d9d9 84%, #d9d9d9 100%);
    background-size: 700% 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%; }
    .filter__breed-label:hover {
      background-position: 66% 100%;
      color: #fff; }

#all-cats:checked ~ .main label[for=all-cats],
#energy-cats:checked ~ .main label[for=energy-cats],
#kids-cats:checked ~ .main label[for=kids-cats],
#rare-cats:checked ~ .main label[for=rare-cats],
#large-cats:checked ~ .main label[for=large-cats],
#smartest-cats:checked ~ .main label[for=smartest-cats],
#vocal-cats:checked ~ .main label[for=vocal-cats] {
  background: #5a5a5a;
  background: linear-gradient(90deg, #404040 0%, #404040 16%, #b3b3b3 21%, #5e5e5e 26%, #5e5e5e 45%, #e0e0e0 50%, #8c8c8c 55%, #8c8c8c 74%, #fcfcfc 79%, #d9d9d9 84%, #d9d9d9 100%);
  background-size: 700% 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-position: 33% 100%;
  color: #fff; }
  #all-cats:checked ~ .main label[for=all-cats]:hover,
  #energy-cats:checked ~ .main label[for=energy-cats]:hover,
  #kids-cats:checked ~ .main label[for=kids-cats]:hover,
  #rare-cats:checked ~ .main label[for=rare-cats]:hover,
  #large-cats:checked ~ .main label[for=large-cats]:hover,
  #smartest-cats:checked ~ .main label[for=smartest-cats]:hover,
  #vocal-cats:checked ~ .main label[for=vocal-cats]:hover {
    background-position: 0 100%; }

.sorting {
  border: 1px solid yellow;
  width: 200px;
  order: 2; }

.gallery {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 50%;
  order: 1;
  margin: 0 10px -9px; }
  .gallery__card {
    margin: 0 6px 9px;
    opacity: 0.3;
    pointer-events: none;
    transition: opacity .4s ease-in-out; }
  .gallery__section {
    display: none; }
    .gallery__section ~ .gallery__card:nth-of-type(8n-7),
    .gallery__section ~ .gallery__card:nth-of-type(8n-5),
    .gallery__section ~ .gallery__card:nth-of-type(8n-4),
    .gallery__section ~ .gallery__card:nth-of-type(8n-3),
    .gallery__section ~ .gallery__card:nth-of-type(8n-1) {
      width: calc(33.3% - 12px); }
    .gallery__section ~ .gallery__card:nth-of-type(8n-6),
    .gallery__section ~ .gallery__card:nth-of-type(8n-2) {
      width: calc(66.6% - 12px); }
    .gallery__section ~ .gallery__card:nth-of-type(8n) {
      width: calc(100% - 12px); }

#all-cats:checked ~ .main .card {
  opacity: 1;
  pointer-events: auto; }

#energy-cats:checked ~ .main .energy-cats,
#kids-cats:checked ~ .main .kids-cats,
#large-cats:checked ~ .main .large-cats,
#rare-cats:checked ~ .main .rare-cats,
#smartest-cats:checked ~ .main .smartest-cats,
#vocal-cats:checked ~ .main .vocal-cats {
  opacity: 1;
  pointer-events: auto;
  animation: brightness .7s ease-in-out; }

@keyframes brightness {
  70% {
    filter: brightness(1.2);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1); }
  100% {
    filter: brightness(1); } }
.footer {
  border-top: 1px solid #7c7c7c;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.card {
  height: 290px;
  text-align: center;
  background: #fff;
  position: relative;
  overflow: hidden;
  counter-increment: card; }
  .card::before {
    content: counter(card);
    position: absolute;
    top: 10px;
    left: 15px; }
  .card:hover .card__caption {
    transform: translateY(-50%);
    opacity: 1; }
  .card__img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__caption {
    display: flex;
    align-items: center;
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 80%;
    max-width: 280px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    cursor: default;
    padding: 0 15px;
    font-size: 1.2rem;
    transform: translateY(100%);
    opacity: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: transform 0.5s cubic-bezier(0.35, 0.76, 0.3, 0.99), opacity 0.5s ease-in; }

* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-flow: column;
  background: #ebebeb;
  padding: 0 30px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

figure {
  margin: 0; }

.main {
  display: flex;
  flex: 1;
  margin: 0 0 20px; }

.hidden {
  display: none; }
