.header {
  margin: 50px 0; }
  .header__title {
    font-size: 2.5rem;
    text-align: center;
    margin: 0; }

.filter {
  background: #d9d9d9; }
  .filter__control:checked ~ .main .gallery__card {
    opacity: .3;
    pointer-events: none; }
  .filter__ul {
    overflow: hidden; }
  .filter__li {
    height: 64px;
    padding-bottom: 1px;
    background-size: 300% 1px;
    background-image: linear-gradient(to right, #737373, #737373 34%, #fff 50%, #8c8c8c 67%, #8c8c8c);
    background-position: right bottom;
    background-repeat: no-repeat;
    transition: background 0.4s ease-in-out;
    animation-name: moveRight;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.16, 0.59, 0.41, 1.05);
    animation-fill-mode: both; }
    .filter__li:first-child {
      animation-delay: 0; }
    .filter__li:nth-child(2) {
      animation-delay: 0.09s; }
    .filter__li:nth-child(3) {
      animation-delay: 0.18s; }
    .filter__li:nth-child(4) {
      animation-delay: 0.27s; }
    .filter__li:nth-child(5) {
      animation-delay: 0.36s; }
    .filter__li:nth-child(6) {
      animation-delay: 0.45s; }
    .filter__li:nth-child(7) {
      animation-delay: 0.51s; }
    .filter__li:hover {
      background-position: left bottom; }
  .filter__breed-label {
    font-size: 1.2rem;
    line-height: 63px;
    white-space: nowrap;
    padding: 0 16px;
    display: block;
    cursor: pointer;
    user-select: none;
    transition-property: color, background;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.35, 0.76, 0.3, 0.99);
    background: #5a5a5a;
    background: linear-gradient(90deg, #404040 0%, #404040 16%, #b3b3b3 21%, #5e5e5e 26%, #5e5e5e 45%, #e0e0e0 50%, #8c8c8c 55%, #8c8c8c 74%, #fcfcfc 79%, transparent 84%, transparent 100%);
    background-size: 700% 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    will-change: opacity; }
    .filter__breed-label:hover {
      background-position: 66% 100%;
      color: #fff; }

#energy-cats:checked ~ .main label[for='energy-cats'],
#kids-cats:checked ~ .main label[for='kids-cats'],
#rare-cats:checked ~ .main label[for='rare-cats'],
#large-cats:checked ~ .main label[for='large-cats'],
#smartest-cats:checked ~ .main label[for='smartest-cats'],
#vocal-cats:checked ~ .main label[for='vocal-cats'] {
  background: #5a5a5a;
  background: linear-gradient(90deg, #404040 0%, #404040 16%, #b3b3b3 21%, #5e5e5e 26%, #5e5e5e 45%, #e0e0e0 50%, #8c8c8c 55%, #8c8c8c 74%, #fcfcfc 79%, transparent 84%, transparent 100%);
  background-size: 700% 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-position: 33% 100%;
  color: #fff; }
  #energy-cats:checked ~ .main label[for='energy-cats']:hover,
  #kids-cats:checked ~ .main label[for='kids-cats']:hover,
  #rare-cats:checked ~ .main label[for='rare-cats']:hover,
  #large-cats:checked ~ .main label[for='large-cats']:hover,
  #smartest-cats:checked ~ .main label[for='smartest-cats']:hover,
  #vocal-cats:checked ~ .main label[for='vocal-cats']:hover {
    background-position: 0 100%; }

@keyframes moveRight {
  0% {
    transform: translateX(-100%); }
  80% {
    transform: translateX(3px); }
  100% {
    transform: translateX(0); } }
#ratingCheckbox {
  height: .9rem;
  width: .9rem;
  margin: .3rem 0 0 .6rem; }
  #ratingCheckbox:checked ~ .rating__section[data-rate='10'] {
    order: 1; }
  #ratingCheckbox:checked ~ .rating__section[data-rate='9'] {
    order: 2; }
  #ratingCheckbox:checked ~ .rating__section[data-rate='8'] {
    order: 3; }
  #ratingCheckbox:checked ~ .rating__section[data-rate='7'] {
    order: 4; }
  #ratingCheckbox:checked ~ .rating__section[data-rate='6'] {
    order: 5; }

.rating {
  display: flex;
  flex-flow: row wrap;
  align-self: flex-start;
  width: 200px;
  padding: 0 16px 16px;
  background: #d9d9d9; }
  .rating__title {
    flex: 1 1 100%;
    margin: 0 0 5px;
    text-transform: uppercase;
    color: #db0606;
    font-weight: normal;
    font-size: 1.4rem;
    text-align: left; }
  .rating label[for='ratingCheckbox'] {
    flex: 1;
    text-align: right;
    cursor: pointer;
    user-select: none; }
  .rating__section {
    flex: 1 1 100%; }
  .rating__caption {
    flex: 1 1 100%;
    margin: 15px 0 5px;
    font-weight: normal;
    font-size: 1.2rem; }
  .rating__progress {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .rating__progress::after {
      content: attr(data-rate);
      font-weight: bold;
      font-size: 1.3rem;
      line-height: 1.3rem; }
    .rating__progress::before {
      content: '';
      box-sizing: border-box;
      height: 20px;
      padding: 5px;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3); }
    .rating__progress[data-rate='10']::before {
      width: 75%;
      background-image: linear-gradient(90deg, #00ff77 0%, #00ff77 10%, #fff 95%, #fff 100%); }
    .rating__progress[data-rate='9']::before {
      width: 67.5%;
      background-image: linear-gradient(90deg, #00ff77 0%, #00ff77 10%, #fff 95%, #fff 100%); }
    .rating__progress[data-rate='8']::before {
      width: 60%;
      background-image: linear-gradient(90deg, #fff700 0%, #fff700 10%, #fff 95%, #fff 100%); }
    .rating__progress[data-rate='7']::before {
      width: 52.5%;
      background-image: linear-gradient(90deg, #fff700 0%, #fff700 10%, #fff 95%, #fff 100%); }
    .rating__progress[data-rate='6']::before {
      width: 45%;
      background-image: linear-gradient(90deg, #e80a02 0%, #e80a02 10%, #fff 95%, #fff 100%); }

.gallery {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 50%;
  margin: 0 10px -9px; }
  .gallery__card {
    width: calc(33.3% - 12px);
    margin: 0 6px 9px;
    transition: opacity 0.4s ease-in-out; }
  .gallery .gallery__card:nth-of-type(4n + 2) {
    width: calc(66.6% - 12px); }
  .gallery .gallery__card:nth-of-type(8n) {
    width: calc(100% - 12px); }

#all-cats:checked ~ .main .card {
  opacity: 1;
  pointer-events: auto; }

#energy-cats:checked ~ .main .energy-cats,
#kids-cats:checked ~ .main .kids-cats,
#large-cats:checked ~ .main .large-cats,
#rare-cats:checked ~ .main .rare-cats,
#smartest-cats:checked ~ .main .smartest-cats,
#vocal-cats:checked ~ .main .vocal-cats {
  opacity: 1;
  pointer-events: auto;
  animation: brightness 0.7s ease-in-out; }

@keyframes brightness {
  70% {
    filter: brightness(1.2);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1); }
  100% {
    filter: brightness(1); } }
.footer {
  border-top: 1px solid #7c7c7c;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px; }
  .footer__copyright {
    font-size: 1rem; }
  .footer__address {
    font-style: normal;
    color: #1634a2; }

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 290px;
  text-align: center;
  background: #fff;
  position: relative;
  overflow: hidden;
  will-change: transform; }
  .card:hover::after {
    transform: translateY(-50%);
    opacity: 1; }
  .card__img {
    max-width: 100%;
    max-height: 100%; }
  .card::after {
    content: attr(data-caption);
    display: flex;
    align-items: center;
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 80%;
    max-width: 280px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: default;
    padding: 0 15px;
    font-size: 1.2rem;
    transform: translateY(0);
    opacity: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: transform 0.4s ease-out, opacity 0.4s ease-in;
    will-change: transform, opacity; }

* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-flow: column;
  background: #ebebeb; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

figure {
  margin: 0;
  height: 100%; }

.main {
  display: flex;
  flex: 1;
  margin: 0 auto 20px;
  width: 1300px; }

.hidden {
  display: none; }
