.card {
  width: $cardWidth;
  height: $cardHeight;
  position: relative;
  transform-style: preserve-3d;
  margin: 0 12.5px 25px;
  @supports(display: grid) {
    margin: 0;
  }
  &:hover {
    cursor: pointer;
  }
  * {
    box-sizing: border-box;
  }
  &--flipped {
    pointer-events: none;
    .card__front {
      transform: rotateY(0deg);
    }
    .card__back {
      transform: rotateY(180deg);
    }
  }
  &--win {
    .card__front {
      background-color: $cardWinColor;
    }
  }
  &--lose {
    .card__front {
      background-color: $cardLoseColor;
    }
  }
  &__front {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    border-radius: $cardBorderRadius;
    box-shadow: $cardBoxShadow;
    backface-visibility: hidden;
    will-change: transform;
    transform: rotateY(-180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $emojiSize;
    transition: background-color .2s ease-out;
    @supports(display: grid) {
      // in IE backface-visibility and transform don't work properly (there's no flip effect)
      transition: background-color .3s ease-out .1s, transform .45s cubic-bezier(.17, .67, .54, 1.25);
    }
  }
  &__back {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(45deg, $cardGradientStartColor, $cardGradientStopColor);
    border: $cardBorder;
    border-radius: $cardBorderRadius;
    box-shadow: $cardBoxShadow;
    backface-visibility: hidden;
    will-change: transform;
    @supports(display: grid) {
      // in IE backface-visibility and transform don't work properly (there's no flip effect)
      transition: transform .45s cubic-bezier(.17, .67, .54, 1.25);
    }
  }
}