html {
  font-size: $fontSize;
  @media only screen and (max-width: $mdPhoneBreakpoint) {
    font-size: 13px;
  }
  @media only screen and (max-width: $smPhoneBreakpoint) {
    font-size: 11px;
  }
}

body {
  margin: 0;
  background: $bodyBgColor;
  font-family: 'Arial', sans-serif;
  color: $textColor;
}

.main {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  perspective: $cardPerspective;
  margin: 0 auto;
  width: 700px;
}

@supports(display: grid) {
  .main {
    width: auto;
    display: grid;
    grid-template: repeat(3, $rowHeight) /repeat(4, $columnWidth);
    grid-gap: $cardGap;
    @media only screen and (max-width: $mdPhoneBreakpoint) and (orientation: landscape) {
      grid-template: repeat(3, $cardPhoneLandSize) /repeat(4, $cardPhoneLandSize);
      grid-gap: $cardPhoneLandGap;
    }
    @media only screen and (max-width: $smPhoneBreakpoint) {
      grid-template: repeat(4, $cardHeight) /repeat(3, $cardWidth);
    }
  }
}

.title {
  font-size: $titleFontSize;
  line-height: $titleLineHeight;
  font-family: Arial, sans-serif;
  margin: $titleVerticalMargin 0;
  text-align: center;
}