// colors
$bodyBgColor: #cfd0cf;
$titleColor: #434344;
$cardGradientStartColor: #22ab93;
$cardGradientStopColor:#19668d;
// card
$cardWidth: 130px;
$cardHeight: $cardWidth;
$cardGap: 25px;
$cardBorder: 5px solid #fff;
$cardBorderRadius: 9px;
$cardBoxShadow: 1px 1px 5px rgba(0, 0, 0, .5);
$cardPerspective: 600px;
$emojiSize: 75px;