@import 'variables';
@import 'card';
body {
  margin: 0;
  background: $bodyBgColor;
}

.main {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template: repeat(3, $cardHeight) /repeat(4, $cardWidth);
  grid-gap: $cardGap;
  perspective: $cardPerspective;
}

.title {
  font: 42px/47px Arial, sans-serif;
  margin: 40px 0;
  text-align: center;
  color: $titleColor;
}