.card {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 290px;
  text-align: center;
  background: #fff;
  position: relative;
  overflow: hidden;
  will-change: transform;

  &:hover {
    .card__caption {
      transform: translateY(-50%);
      opacity: 1;
    }
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__caption {
    display: flex;
    align-items: center;
    text-align: left;
    position: absolute;
    left: 0;
    bottom: 0;

    height: 70px;
    // line-height: 70px;
    // min-width: 200px;
    width: 80%;
    max-width: 280px;
    background: hsla(0, 0%, 0%, 0.5);
    color: #fff;

    cursor: default;

    padding: 0 15px;
    font-size: 1.2rem;

    transform: translateY(0);
    opacity: 0;

    // white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    transition: transform 0.4s ease-out, opacity 0.4s ease-in;

    will-change: transform, opacity;
  }
}
