.filter {
  background: $categoryBgColor;

  &__ul {
    
  }

  &__li {
    @include category-bottom-border;
    transition: background .4s ease-in-out;

    &:hover {
      background-position: left bottom;
    }

  }

  &__breed-label {
    font-size: 1rem;
    white-space: nowrap;
    padding: 2.8ex;

    display: block;

    cursor: pointer;
    user-select: none;

    transition-property: color, background;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.35,.76,.3,.99);
    // transition-delay: .1s;

    // @include category-linear-bg($categoryBgColor, $categoryBgHoverColor, $categoryBgSelectedColor);
    @include category-linear-bg;

    &:hover {
      background-position: 66% 100%;
      color: #fff;
    }
  }
}

#all-cats:checked ~ .main label[for=all-cats],
#energy-cats:checked ~ .main label[for=energy-cats],
#kids-cats:checked ~ .main label[for=kids-cats],
#rare-cats:checked ~ .main label[for=rare-cats],
#large-cats:checked ~ .main label[for=large-cats],
#smartest-cats:checked ~ .main label[for=smartest-cats],
#vocal-cats:checked ~ .main label[for=vocal-cats] {
  // @include category-linear-bg($categoryBgSelectedColor, $categoryBgSelectedColor, $categoryBgSelectedColor);
  @include category-linear-bg;

  background-position: 33% 100%;
  color: #fff;

  &:hover {
    background-position: 0 100%;
  }
}