.filter {
  background: $categoryBgColor;

  &__control:checked ~ .main .gallery__card {
    opacity: .3;
    pointer-events: none;
  }

  &__ul {
    overflow: hidden;
  }

  &__li {
    @include category-bottom-border;
    transition: background 0.4s ease-in-out;

    $animationDuration: 0.3s;

    animation-name: moveRight;
    animation-duration: $animationDuration;
    animation-timing-function: cubic-bezier(0.16, 0.59, 0.41, 1.05);
    animation-fill-mode: both;

    &:first-child {
      animation-delay: 0;
    }

    &:nth-child(2) {
      animation-delay: 0.3 * $animationDuration;
    }
    &:nth-child(3) {
      animation-delay: 0.6 * $animationDuration;
    }
    &:nth-child(4) {
      animation-delay: 0.9 * $animationDuration;
    }
    &:nth-child(5) {
      animation-delay: 1.2 * $animationDuration;
    }
    &:nth-child(6) {
      animation-delay: 1.5 * $animationDuration;
    }
    &:nth-child(7) {
      animation-delay: 1.7 * $animationDuration;
    }

    &:hover {
      background-position: left bottom;
    }
  }

  &__breed-label {
    font-size: 1.2rem;
    white-space: nowrap;
    padding: 1.1rem;

    display: block;

    cursor: pointer;
    user-select: none;

    transition-property: color, background;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.35, 0.76, 0.3, 0.99);
    // transition-delay: .1s;

    // @include category-linear-bg($categoryBgColor, $categoryBgHoverColor, $categoryBgSelectedColor);
    @include category-linear-bg;

    will-change: opacity;

    &:hover {
      background-position: 66% 100%;
      color: #fff;
    }
  }
}

#energy-cats:checked ~ .main label[for='energy-cats'],
#kids-cats:checked ~ .main label[for='kids-cats'],
#rare-cats:checked ~ .main label[for='rare-cats'],
#large-cats:checked ~ .main label[for='large-cats'],
#smartest-cats:checked ~ .main label[for='smartest-cats'],
#vocal-cats:checked ~ .main label[for='vocal-cats'] {
  // @include category-linear-bg($categoryBgSelectedColor, $categoryBgSelectedColor, $categoryBgSelectedColor);
  @include category-linear-bg;

  background-position: 33% 100%;
  color: #fff;

  &:hover {
    background-position: 0 100%;
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}
