.filter {
  background: $categoryBgColor;

  &__ul {
    
  }

  &__li {
    @include category-bottom-border;

    transition: background 0.5s ease-in-out;

    &:hover {
      background-position: left bottom;
    }

  }

  &__breed-label {
    font-size: 1rem;
    white-space: nowrap;
    padding: 2.8ex;

    display: block;

    cursor: pointer;
    user-select: none;

    transition: color 0.3s ease-in-out,
                background 0.3s ease-in-out;

    @include category-linear-bg;

    &:hover {
      background-position: 66% bottom;
      color: #fff;
    }
  }
}

#energy-cats:checked ~ .main label[for=energy-cats],
#kids-cats:checked ~ .main label[for=kids-cats],
#rare-cats:checked ~ .main label[for=rare-cats],
#large-cats:checked ~ .main label[for=large-cats],
#smartest-cats:checked ~ .main label[for=smartest-cats],
#vocal-cats:checked ~ .main label[for=vocal-cats] {
  background-position: 33% bottom;
  color: #fff;

  &:hover {
    background-position: 0% bottom;
  }
}