.gallery {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 50%;
  order: 1;
  margin: 0 10px -9px;

  &__card {
    margin: 0 6px 9px;
    opacity: 0.3;
    pointer-events: none;

    transition: opacity .4s ease-in-out;
  }

  &__section {
    display: none;

    ~ .gallery__card:nth-of-type(8n-7), // 1, 9, 17, ...
    ~ .gallery__card:nth-of-type(8n-5), // 3, 11, 19, ...
    ~ .gallery__card:nth-of-type(8n-4), // 4, 12, 20, ...
    ~ .gallery__card:nth-of-type(8n-3), // 5, 13, 21, ...
    ~ .gallery__card:nth-of-type(8n-1) // 7, 15, 23, ...
    {
      width: calc(33.3% - #{$cardHorizontalMargin * 2});
    }

    ~ .gallery__card:nth-of-type(8n-6), // 2, 10
    ~ .gallery__card:nth-of-type(8n-2) // 6, 14
    {
      width: calc(66.6% - #{$cardHorizontalMargin * 2});
    }

    ~ .gallery__card:nth-of-type(8n) // 8, 16, 24, ...
    {
      width: calc(100% - #{$cardHorizontalMargin * 2});
    }
  }
}

#all-cats:checked ~ .main .card {
  opacity: 1;
  pointer-events: auto;
}
#energy-cats:checked ~ .main .energy-cats,
#kids-cats:checked ~ .main .kids-cats,
#large-cats:checked ~ .main .large-cats,
#rare-cats:checked ~ .main .rare-cats,
#smartest-cats:checked ~ .main .smartest-cats,
#vocal-cats:checked ~ .main .vocal-cats {
  opacity: 1;
  pointer-events: auto;

  animation: brightness .7s ease-in-out;
  // animation: cloud3 25s linear infinite;
}

@keyframes brightness {
  70% {
    filter: brightness(1.2);
    box-shadow: 0 0 8px 2px hsla(0, 0%, 0%, 0.1);
  }

  100% {
    filter: brightness(1);
  }
}