#ratingCheckbox {
  height: .9rem;
  width: .9rem;
  margin: .3rem 0 0 .6rem;

  &:checked {
    ~ .rating__section[data-rate='10'] {
      order: 1;
    }

    ~ .rating__section[data-rate='9'] {
      order: 2;
    }

    ~ .rating__section[data-rate='8'] {
      order: 3;
    }

    ~ .rating__section[data-rate='7'] {
      order: 4;
    }

    ~ .rating__section[data-rate='6'] {
      order: 5;
    }
  }
}

.rating {
  display: flex;
  flex-flow: row wrap;
  align-self: flex-start;

  width: 200px;

  padding: 0 16px 16px;
  background: $categoryBgColor;

  &__title {
    flex: 1 1 100%;
    margin: 0 0 5px;
    text-transform: uppercase;
    color: hsl(0, 95%, 44%);

    font-weight: normal;
    font-size: 1.4rem;
    text-align: left;
  }

  label[for='ratingCheckbox'] {
    flex: 1;
    text-align: right;
    cursor: pointer;
    user-select: none;
  }

  &__section {
    flex: 1 1 100%;
  }

  &__caption {
    flex: 1 1 100%;
    margin: 15px 0 5px;
    font-weight: normal;
    font-size: 1.2rem;
  }

  &__progress {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      content: attr(data-rate);
      font-weight: bold;
      font-size: 1.3rem;
      line-height: 1.3rem;
    }

    &::before {
      content: '';
      box-sizing: border-box;
      height: 20px;     
      padding: 5px;
      box-shadow: inset 0 0 0 1px hsla(0, 0, 0, 0.3);
    }

    &[data-rate='10']::before {
      width: 75% * 1;      
      @include greenGradient;
    }

    &[data-rate='9']::before {
      width: 75% * 0.9;
      @include greenGradient;
    }

    &[data-rate='8']::before {
      width: 75% * 0.8;
      @include yellowGradient;
    }

    &[data-rate='7']::before {
      width: 75% * 0.7;
      @include yellowGradient;
    }

    &[data-rate='6']::before {
      width: 75% * 0.6;
      @include redGradient;
    }
  }
}
