@import 'variables';
@import 'header';
@import 'filter';
@import 'rating';
@import 'gallery';
@import 'footer';
@import 'card';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;

  display: flex;
  flex-flow: column;

  background: #ebebeb;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  height: 100%;
}

.main {
  display: flex;
  flex: 1;
  margin: 0 auto 20px;
  width: 1300px;
}

.hidden {
  display: none;
}
