@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
    font-family: sans-serif;
}


/* rating ------------------------------------------------------------ */
.rate {
    display: inline-block;
    border: 0;
}
.rate > input {
    display: none;
}
.rate > label {
    float: right;
}

.rate > label:before {
    display: inline-block;
    font-size: 1.1rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;

}

/* view selector ------------------------------------------------------- */

.selectView {
    display: none;
}

.selectView + label {
    display: inline-block;
    float: right;
    cursor: pointer;
    margin: 0 5px 0 0;
}

.selectView:checked + label {
    font-weight: bold;
}

#list_view + label div {
    width: 20px;
    height: 6px;
    background: #ddd;
    margin-bottom: 1px;
}

#column_view + label {
    width: 25px;
}
#column_view + label div {
    width: 10px;
    height: 9px;
    float: left;
    background: #ddd;
    margin: 0 2px 2px 0;
}

/* -- */

section { clear: both; }

/* column view ---------------------------------------------------------- */

#column_view:checked ~ section .b-cat {
    width: 300px;
    display: inline-block;
    overflow: hidden;
    margin: 10px 20px;
    vertical-align: top;
}

#column_view:checked ~ section .b-cat .b-cat__photo {
    height: 300px;
    vertical-align: bottom;
    display: table-cell;
}

/* column view ---------------------------------------------------------- */


#list_view:checked ~ section .b-cat {
    display: block;
    margin: 50px 20px;
}

#list_view:checked ~ section .b-cat > div {
    display: inline-block;
    vertical-align: top;
}

#list_view:checked ~ section .b-cat .b-cat__photo {
    width: 20%;
}

#list_view:checked ~ section .b-cat > div:nth-child(2) {
    width: 35%;
    margin: 0 5% 0 4%;
}

#list_view:checked ~ section .b-cat .b-cat__desc {
    width: 35%;
}

/* common view ---------------------------------------------------------- */
.b-cat .rate:hover label {
    color: black;
}

.b-cat input:checked ~ label,
.b-cat .rate input:hover ~ label  {
    color: orange;
}

.b-cat .b-cat__photo img {
    max-width: 100%;
    max-height: 100%;
}

.b-cat__name {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 120%;
}

.b-cat:hover .b-cat__name {
    color: red;
}

.b-cat:hover .b-cat__photo img {
    opacity: 0.7;
}

.b-cat .b-cat__category a {
    font-size: 80%;
    color: black;
}

.b-cat__desc {
    padding-top: 10px;
    /*height: 200px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

.b-cat__price {
    font-size: 1.2rem;
    font-weight: bold;
    color: darkred;
}

.b-cat__price span {
    text-decoration: line-through;
    font-weight: normal;
    font-size: .8rem;
    color: black;
}