body {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

article {
    display: inline-block;
    vertical-align: top;
    width: 345px;
    margin: 0 50px 200px 0;
}

article img {
    width: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    bottom: 40px;
    transition: opacity .2s ease-out;
}

article .wrapper > a:first-of-type {
    position: relative;
    display: block;
    color: #2d2c94;
    transition: color .2s ease-out;
}

article .wrapper > a:first-of-type:hover {
    color: red;
}

article .wrapper > a:first-of-type:hover img {
    opacity: 0.7;
}

article h3 {
    font-size: 20px;
    font-weight: normal;
    margin: 300px 0 4px;
    padding-top: 66px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

article ul {
    margin: 0;
    padding: 0;
}

article ul li {
    display: inline;
    font-size: 80%;
}

article ul li ~ li:before {
    content: ' - ';
}

article ul li a {
    color: #58585a;
}

article .categories {
    margin-bottom: 6px;
}

article .rating {
    margin-bottom: 12px;
}

article .rating input,
article .rating label {
    position: relative;
    margin: 0;
    width: 10px;
    height: 18px;
    vertical-align: bottom;

    -webkit-appearance: none;
    outline: none;
}

article .rating label {
    display: none;
    margin-left: -10px;
    font-size: 0;
}

article .rating input:first-of-type {
    position: absolute;
    visibility: hidden;
}

article .rating input:first-of-type + input:checked + label {
    display: inline-block;
    z-index: 1;
}

article .rating input:before {
    position: absolute;
    z-index: 1;
    content: '';
    top: 0; bottom: 0;
    left: 0; right: 0;
}
article .rating input:nth-of-type(2n)::before {
    background: url(star.png) 0 0;
}

article .rating input:nth-of-type(2n-1)::before {
    background: url(star.png) -10px 0;
}

article .rating:not(:hover) input:checked ~ input:nth-of-type(2n)::before,
article .rating input:hover ~ input:nth-of-type(2n)::before {
    background: url(star.png) -19px 0;
}

article .rating:not(:hover) input:checked ~ input:nth-of-type(2n-1):before,
article .rating input:hover ~ input:nth-of-type(2n-1):before {
    background: url(star.png) 100% 0;
}

article .price {
    font-weight: bold;
    color: #980300;
    font-size: 130%;
}
article .price_old {
    font-size: 80%;
    font-weight: normal;
    color: #3a3a3d;
    display: inline;
    text-decoration: line-through;
}

article .description {
    font-size: 80%;
    line-height: 1.5;
}

#lines {
    display: none;
}

#lines:checked ~ article {
    display: block;
    width: 100%;
}

#lines:checked ~ article .wrapper,
#lines:checked ~ article .description {
    display: inline-block;
    vertical-align: top;

    width: 340px;
}

#lines:checked ~ article .description p:first-child {
    margin-top: 0;
}

#lines:checked ~ article .wrapper {
    margin-left: 500px;
    margin-right: 50px;
}

#lines:checked ~ article h3 {
    margin-top: 0;
    padding-top: 0;
}

#lines:checked ~ article img {
    margin-left: -500px;
    bottom: auto;
}

#lines:checked ~ article .wrapper > a:first-of-type {
}

.switcher {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 10px;
    top: 10px;
    border-radius: 3px;
    background: #ccc;
    cursor: pointer;
}
.switcher:before,
.switcher:after {
    content: '';

    width: 5px;
    height: 5px;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;

    position: absolute;
    left: 13px;
    top: 13px;
}

.switcher:after {
    top: 23px;
}

#lines:checked + .switcher:before {
    border: 0;
    width: 20px;
    left: 10px;
    height: 4px;
    top: 8px;
    background: #fff;
}

#lines:checked + .switcher:after {
    border: 0;
    width: 20px;
    left: 10px;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    top: 18px;
}