.canvas {
    position: relative;
    
    width: 500px;
    height: 380px;
    margin: 80px 0 0 0;
    
    transition: .3s ease;
    
    perspective: 800px;
}

.box_front {
    position: relative;
    
    overflow: hidden;
    
    width: 500px;
    height: 380px;
    
    background: skyblue;
    box-shadow: 0 -400px 300px -300px steelblue inset;

    animation: skyAnim 105s linear 20s infinite;
}

@keyframes skyAnim {
    0% {
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    }

    33% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    }

    66% {
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
    }
}

/*TODO
Цвета неба задаются следующими свойствами:
    День:
        background: skyblue;
        box-shadow: 0 -400px 300px -300px steelblue inset;
    Вечер:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px orangered inset;
    Ночь:
        background: darkslateblue;
        box-shadow: 0 -400px 300px -300px transparent inset;
        
Нужно реализовать плавный переход между ними и зациклить его.
*/

.ship::after {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100px;
    height: 20px;
    
    content: '';
    
    border-radius: 0 0 0 20px;
    background: #e25c45;
}

.ship::before {
    position: absolute;
    top: 0;
    left: 10px;
    
    width: 65px;
    height: 16px;
    
    content: '';
    
    border-radius: 20px 0 0 0;
    background: #fff;
}

.ship {
    position: absolute;
    right: 0;
    bottom: 30px;
    
    width: 100px;
    height: 36px;

    animation: shipAnim 52s linear infinite;
}

@keyframes shipAnim {
    from {
        transform: translateX(150px);
    }
    to {
        transform: translateX(-500px);
    }
}

.ship_smokestack {
    position: absolute;
    bottom: 36px;
    left: 45px;
    
    width: 10px;
    height: 17px;
    
    background: #a18e6e;
}

.ship_window {
    position: absolute;
    top: 6px;
    left: 40px;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #a18e6e;
    box-shadow: 13px 0 0 0 #a18e6e, -13px 0 0 0 #a18e6e;
}

.smoke div {
    position: absolute;
    
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    background: #fff;
}

@keyframes smokeAnim {
    50% {
        transform: translateY(-9px) scale(1.3);
        opacity: 0.7;
    }
    51% {
        transform: translateY(-9px) scale(1.3);
        opacity: 0.7;
    }
    to {
        transform: translateY(-20px) scale(2);
        opacity: 0;
    }
}

.smoke-1 {
    top: -25px;
    right: 44px;

    animation: smokeAnim 2s ease-out 0s infinite;
}

.smoke-2 {
    top: -25px;
    right: 42px;

    animation: smokeAnim 2s ease-out 0.7s infinite;
}

.smoke-3 {
    top: -25px;
    right: 49px;

    animation: smokeAnim 2s ease-out 1.3s infinite;
}

@keyframes sunAnim{
    from {
        transform: rotate(0turn) translate(-390%) rotate(1turn);
    }
    to { 
        transform: rotate(1turn) translate(-550%) rotate(8turn);
    }
}

.sun {
    position: absolute;
    top: 100%;
    right: 50%;
    
    width: 80px;
    height: 80px;
    
    border-radius: 50%;
    background: #ffcf11;
    box-shadow: 0 0 100px #ffdf05;

    animation: sunAnim 105s linear infinite;
}

.sun-wrapper {
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    transform-origin: bottom center;

    /*animation: sunAnim 105s linear infinite;*/
}

.sun div {
    position: absolute;
    top: -20px;
    left: 50%;
    
    width: 2px;
    height: 100px;
    margin-left: -1px;
    
    border: solid #ffcf11;
    border-width: 10px 0 10px 0;
}

.sun div:nth-child(2) {
    transform: rotate(18deg);
}

.sun div:nth-child(3) {
    transform: rotate(36deg);
}

.sun div:nth-child(4) {
    transform: rotate(54deg);
}

.sun div:nth-child(5) {
    transform: rotate(72deg);
}

.sun div:nth-child(6) {
    transform: rotate(90deg);
}

.sun div:nth-child(7) {
    transform: rotate(-18deg);
}

.sun div:nth-child(8) {
    transform: rotate(-36deg);
}

.sun div:nth-child(9) {
    transform: rotate(-54deg);
}

.sun div:nth-child(10) {
    transform: rotate(-72deg);
}

.cloud {
    position: absolute;
    left: -180px;
    
    width: 200px;
    height: 60px;
    
    opacity: .8;
    border-radius: 200px;
    background: #fff;
}

.cloud:before,
.cloud:after {
    position: absolute;
    top: -15px;
    left: 10px;
    
    width: 100px;
    height: 80px;
    
    content: '';
    
    border-radius: 100px;
    background: #fff;
}

.cloud:after {
    top: -55px;
    right: 15px;
    left: auto;
    
    width: 120px;
    height: 120px;
}

@keyframes cloud1Anim{
    from {
        transform: translateX(-100%) scale(0.3);
    }
    to {
        transform: translateX(330%) scale(0.3);
    }
}

@keyframes cloud2Anim{
    from {
        transform: translateX(-100%) scale(-0.4, 0.4);
    }
    to {
        transform: translateX(330%) scale(-0.4, 0.4);
    }
}

@keyframes cloud3Anim{
    from {
        transform: translateX(-100%) scale(0.5);
    }
    to {
        transform: translateX(330%) scale(0.5);
    }
}

@keyframes cloud4Anim{
    from {
        transform: translateX(-100%) scale(-0.6, 0.6);
    }
    to {
        transform: translateX(330%) scale(-0.6, 0.6);
    }
}

.cloud-1 {
    top: 10px;
    animation: cloud1Anim 64s linear 0s infinite;
}

.cloud-2 {
    top: 50px;
    animation: cloud2Anim 42s linear 0s infinite;
}

.cloud-3 {
    top: 100px;
    animation: cloud3Anim 32s linear 0s infinite;
}

.cloud-4 {
    top: 170px;
    animation: cloud4Anim 22s linear 0s infinite;
}

.sea {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 40px;
    
    opacity: .8;
    background: #2a94d6;
}

.sea::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 10px;
    
    content: '';
    
    background: #1d7fbb;
}
