.article-wrapper {
  width: 20vw;
  min-width: 140px;
  max-width: 300px;
  height: 16vw;
  min-height: 70px;
  max-height: 150px;
  padding: 5px 10px;
  float: left;
  position: relative; }
  .article-wrapper:hover {
    z-index: 1; }

.article {
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  overflow: hidden;
  padding: 0 10px 10px;
  text-align: center;
  transition-property: height, width, transform, margin, box-shadow;
  transition-duration: .2s;
  transition-timing-function: ease-out;
  transition-delay: .1s; }
  .article:hover {
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2); }
    .article:hover .article__description {
      height: auto;
      opacity: 1;
      transform: translateX(0%); }
  .article__img {
    width: 100%;
    height: 16vw;
    min-height: 70px;
    max-height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .article__description {
    height: 0;
    font-size: 0.8rem;
    margin: 0;
    opacity: 0;
    transform: translateX(-110%);
    transition: transform 0.3s ease-out 0.25s;
    text-align: left; }
  .article__title {
    display: none; }

.slider {
  width: 80vw;
  height: 90%;
  min-width: 560px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  text-align: center; }
  .slider__long-container {
    width: 180vw;
    min-width: 1260px;
    max-width: 2700px;
    position: absolute;
    top: 0;
    left: 0;
    will-change: margin;
    transition: margin-left 0.7s ease-out; }
  .slider__toggle-label {
    width: 15px;
    height: 15px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 28vh;
    z-index: 1; }
    .slider__toggle-label:after {
      box-sizing: border-box;
      content: '';
      display: block;
      width: 0;
      height: 0;
      margin: 50% 0 0 50%;
      transform: translate(-50%, -50%);
      border: 6px solid #0080ff;
      border-radius: 50%;
      transition-property: height, border;
      transition-duration: .3s;
      transition-timing-function: ease-in-out; }
  .slider__toggler {
    position: relative;
    top: 18vw;
    display: none; }
    .slider__toggler:checked + label:after {
      width: 100%;
      height: 100%;
      border-width: 3px; }
    .slider__toggler[value=slide1]:checked ~ .slider__long-container {
      margin-left: 0; }
    .slider__toggler[value=slide2]:checked ~ .slider__long-container {
      margin-left: -75%; }
    .slider__toggler:last-of-type:checked ~ .slider__long-container {
      margin-left: -125%; }

.article__label {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer; }
.article__modal-img {
  max-width: 0;
  max-height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-out, max-width 0.5s cubic-bezier(0.32, -0.2, 0.86, 1.6);
  z-index: -1; }
.article__input {
  display: none; }
  .article__input:checked ~ .article__label {
    height: 30px;
    width: 30px;
    position: fixed;
    top: 20px;
    left: auto;
    right: 20px;
    z-index: 2; }
    .article__input:checked ~ .article__label .close-btn {
      display: block; }
  .article__input:checked ~ .article__modal-img {
    max-width: 95%;
    max-height: 95%;
    opacity: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; }
  .article__input:checked ~ .article__overlay {
    background: grey;
    display: block;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; }

.close-btn {
  width: 100%;
  height: 100%;
  transition: transform .15s ease-in-out;
  cursor: pointer;
  display: none; }
  .close-btn:hover {
    transform: rotate(0.25turn); }
    .close-btn:hover .close-btn__line {
      height: 12%; }
  .close-btn__line {
    width: 100%;
    height: 10%;
    background: #e6e6e6;
    border-radius: 7px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%; }
    .close-btn__line:first-child {
      transform: translate(-50%, -50%) rotate(45deg); }
    .close-btn__line:last-child {
      transform: translate(-50%, -50%) rotate(-45deg); }

* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font: 16px "Segoe UI", Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%; }
