@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Source+Sans+Pro');

input {
	margin-left: 30%;
}
input[value=list]:checked ~ div>div{
	/*Как должны выглядеть дивы айтемов при списке*/
	display: block;
	width: 100%;
	margin: auto;
	height: 200px;
}
input[value=list]:checked ~ div>div>div.wrapper{
	/*Как должны выглядеть блок доп информации*/
	display: inline-block;
	width: 30%;
	margin-left:auto;margin-right:auto;
	vertical-align: top;
}
input[value=list]:checked ~ div>div>div.cat-image{
	/*Как должна выглядеть фоточка*/
	display: inline-block;
	width: 30%;
	height: 80%;
	margin: auto;
}
input[value=list]:checked ~ div>div>article{
	/*Как должно выглядеть описание при списке*/
	display: inline-block;
	width: 30%;
	height: 100%;
	margin: auto;
	vertical-align: top;
	white-space: normal; 
	overflow: hidden;
    text-overflow: ellipsis;
}



input[value=grid]:checked ~ div>div{
	/*Как должны выглядеть дивы айтемов при сетке*/
	/*color: red;*/
}

body{
	margin: 0px;
	padding: 0px;
}

.item{
	display: inline-block;
	width: 300px;
	height: 400px;
	text-align: center;
	overflow: hidden;
	margin: 5px;
}

img {
	max-width: 100%;
	height: 100%;
}

.cat-image {
	width: 100%;
	height: 60%;
}

.name {
	font: 20px 'Roboto', sans-serif;

	white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.name:hover {
	white-space: normal; 
}

.description {
	white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.description:hover {
	white-space: normal; 
}

.category span{
	text-decoration: underline;
}

.old-price, .new-price {
	display: inline-block;
}

.old-price {
	text-decoration: line-through;
}

.new-price {
	font: bold 16px sans-serif;
	color: red;
}

.description {
	margin-top: 4px;
	font: 14px 'Source Sans Pro', sans-serif;
}

.item:hover>div>img{
	opacity: 0.7;
}

.item:hover>div>div>a{
	color: red;
}

.stars{
	font-weight: bolder;
	color: #fad360;
}